@font-face { font-family: Cabin; src: url('fonts/cabin-regular'); } 
@font-face { font-family: Cabin; font-weight: bold; src: url('fonts/cabin-medium-ttf'); } 

body { color: #494f49; font-family: 'Cabin', sans-serif; text-align: center; margin: 0 0 0 0;}
a { color: #62a062; text-decoration: underline; }

.debug { background-color: #494f49; }

.topSpacer { margin-top: 40px; }
.headerImageContainer { max-width: 740px; }
.buttonMenuContainer { display: none; }
.fullMenuContainer { display: block; }
.sloganContainer { font-size: 2.7em; font-weight: bold; margin: 40px; }
.mainTitle { font-size: 2.8em; font-weight: bold; margin: 40px; }
.mainImage { width: 100%; max-width: 1024px; display: block; margin-left: auto; margin-right: auto; }
.subTitle { font-size: 1.7em; font-weight: normal; }
.subText { font-size: 1.3em; font-weight: lighter; text-align: justify; text-justify: inter-word; }
.subSectionTitle { font-size: 1.7em; font-weight: bold; }
.subSectionImage { width: 100%; max-width: 500px; }
.subSectionImageContainer {  display: flex; align-items: center; flex-wrap: wrap;}
.subSectionTextContainer { font-size: 1.2em; text-align: left; }
.contactsText { font-size: 1.2em; text-align: left; }
.textJustified { text-align: justify; }
.profileImage { max-width: 300px; }
.profileName { font-size: 1.3em; font-weight: bold; }
.profileTitle { font-size: 1.2em; }
.profileText { font-size: 0.9em;  text-align: justify; }
.footer { background-color: #494f49; color: white; margin-top: 40px; margin-bottom: 40px; padding: 40px; text-align: left; }
.footerText { font-size: 1.3em; }
.footerTitle { font-size: 1.7em; }

@media only screen and (max-width: 768px) {
  .fullMenuContainer { display: none; }
  .buttonMenuContainer { display: block; }
  .mainTitle { font-size: 2.1em; }
  .subTitle { font-size: 1.6em; font-weight: 500; }
  .subSectionTitle { font-size: 1.5em; }
  .subSectionTextContainer { font-size: 1em; }
  .subText { font-size: 1em; font-weight: normal; }
}